*{
  padding: 0;
  margin: 0;
}
.App{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: auto;
}
.Container{
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 40px;
}
.Container p{
  font-size: 30px;
  font-weight:100 ;
  color: red;
}
.Product{
  margin: 10px;
  border: 1px solid #070707;
  display: block;
  align-items: center;
  text-align: center;
  width: 300px;
  padding: 20px;

}
.Product img{
  width: 200px;
}
.Product button{
  padding: 1px 14px;
  background: #939391;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  margin: 20px;

}

